nav {
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  align-items: center;
}

.links {
  margin: 5px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.icons {
  padding-right: 10px;
}