.main-content {
  width: 60%;
  margin: 0 auto;
}
ul{
  list-style-type:none;
}





.buttonNav{
  width: 19%;
  margin: 0 auto;
  
}
.buttonNav button{
  background-color: #c0c7ce;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.6s;
}
.buttonNav button:hover{

  background-color: rgba(0, 0, 0, 0.3);
}
